/* Reset do CSS */

*{
box-sizing: border-box;
outline: none;
}

html, body, #wrap {
     position: relative;
}

html, body, #wrap {
     background-color:aliceblue;
     position: relative;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
 }
 #wrap {
    margin: auto;
 }

 header{
     background-color: rgb(114, 114, 114);
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* Cria uma unidade responsiva 'rem' → 1rem = 16px */
     font-size: 16px;
     
 }

 header img {
     display: block;
     width: 4rem;
     height: auto;

 }
 header h1 {
     flex-grow: 1;
     margin: 0;
     margin-left : 1rem;
 }
 header nav ul {
list-style: none;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-andar-1 i {
    color:#00ffd5
 }

 .footer-andar-1 i:hover {
    color:hsl(189, 98%, 39%)
 }
 .footer-andar-2 ul a {
    color: aliceblue;
    text-decoration: none;
 }
 .footer-andar-2 ul a:hover {
    color: rgb(72, 255, 0);
}

 .footer-andar-2 ul {
    line-height: 2;

 }

