/* Reset do CSS */

*{
box-sizing: border-box;
outline: none;
}

html, body, #wrap {
     position: relative;
}

html, body, #wrap {
     background-color:aliceblue;
     position: relative;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
 }
 #wrap {
    margin: auto;
 }

 header{
     background-color: rgb(114, 114, 114);
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* Cria uma unidade responsiva 'rem' → 1rem = 16px */
     font-size: 16px;
     
 }

 header img {
     display: block;
     width: 4rem;
     height: auto;

 }
 header h1 {
     flex-grow: 1;
     margin: 0;
     margin-left : 1rem;
 }
 header nav ul {
list-style: none;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-andar-1 i {
    color:#00ffd5
 }

 .footer-andar-1 i:hover {
    color:hsl(189, 98%, 39%)
 }
 .footer-andar-2 ul a {
    color: aliceblue;
    text-decoration: none;
 }
 .footer-andar-2 ul a:hover {
    color: rgb(72, 255, 0);
}

 .footer-andar-2 ul {
    line-height: 2;

 }

/*
* Estilização do Formulário de contato 
*/

#formContato {
 display: block;
   padding: 1rem; /* Espaçamento interno */
   margin: auto;
   border-radius:.8px;
   border:1px solid black ;
   background-color: rgb(114, 114, 114);

}

#formContato label {
   display: block;
   padding: .25rem .5rem;

}

#formContato input, 
#formContato textarea {
width: 100%; /* Largura total */
background-color: aliceblue;  /* Cor de fundo */
border: #00ffd5; /* Cor da borda */
border-radius: .5rem;   /* Borda arredondada */
border-bottom: 3px solid #00dbe2; /* Cor da borda inferior */

}

#formContato textarea {
   height: 6rem; /* Altura do campo de texto */
   height: vertical; /* Permite redimensionar a altura */

}

#formContato button {
   background-color: rgb(136, 135, 135); /* Cor de fundo */
   color: white; /* Cor do texto */
   border: none; /* Remove a borda */
   border-radius: .3rem; /* Borda arredondada */
   padding:  .5rem 1rem; /* Espaçamento interno */
   pointer-events: none; /* Desabilita o botão */
}

#formContato input:valid,
#formContato textarea:valid {
   background-color: white;
   border: 1px solid #0084ff; /* Cor da borda */
   border-radius: .3rem; /* Borda arredondada */
   border-bottom: 3px solid #0084ff; /* Cor da borda inferior */

}
/* Botão para o formulário for valido */
#formContato:valid button {
   pointer-events: all; /* Habilita o botão */
   background-color: #0084ff; /* Cor de fundo */
   cursor: pointer;
}